/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom stying */
.glow {
    /* text-shadow: 0 0 3px rgba(255, 255, 255, 0.5),
        0 0 3px rgba(255, 255, 255, 0.3); */
    box-shadow: 0 0 50px rgba(150, 150, 255, 0.4),
        0 0 3px rgba(255, 255, 255, 0.3);
}

.noscroll::-webkit-scrollbar {
    display: none;
}
.noscroll {
    scrollbar-width: none;
}

#prompt-text-area::-webkit-scrollbar {
    width: 4px; /* Adjust width for a slim scrollbar */
}

#prompt-text-area::-webkit-scrollbar-track {
    background: transparent; /* Keeps track background minimal */
}

#prompt-text-area::-webkit-scrollbar-thumb {
    background: #007bff; /* Blue color */
    border-radius: 4px; /* Rounded edges */
}

#prompt-text-area::-webkit-scrollbar-thumb:hover {
    background: #0056b3; /* Darker blue on hover */
}


.image-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .moving-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Border will cover the image */
    height: 100%; /* Border will cover the image */
    border: 3px solid #ffffff; /* Border color */
    border-radius: 50%;
    animation: move-border 1.5s linear infinite;
    z-index: 2; /* Keeps the border behind the image */
  }
  
  @keyframes move-border {
    0% {
        border-width: 1px;
    }
    50% {
        border-width: 3px; /* The border becomes slightly thicker during animation */
    }
    100% {
        border-width: 1px;
    }
  }
